<link href="styles.css" rel="stylesheet" />
<script src="index.js" type="module"></script>
<body>
<div style="padding: 10px; display: flex; justify-content: end; position: sticky; top: 0; background-color: #333; z-index: 40;border-style: solid; border-width: 0; border-bottom-width: 1px; border-color: slategray">
    <div style="display: flex; justify-content: end;">
        <img id="settings" style="cursor: pointer; display: block;" src="https://storage.googleapis.com/revuflow-assets/settings_icon_white1.png" alt="settings icon" width="10%">
        <img id="cross" style="cursor: pointer; display:none; margin-right: 12px;" src="https://storage.googleapis.com/revuflow-assets/cross_icon_white.png" alt="cross icon" width="12%">
    </div>
</div>
</body>
