body {
  margin: 0;
  background: #333;
}

form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  font-family: sans-serif;
  text-align: center;
  color: #fff;
}

button {
  color: #fff;
  background: #0073E6;
  padding: 4px 8px;
  border: 2px solid #0073E6;
  border-radius: 4px;
}

button:focus {
  outline: none;
  border-color: #1280EE;
}

.ta-center {
  text-align: center;
}